<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design</title>
</head>
<body>
    <div>
        <h3>{{user.username}}'s Design</h3>
        <p>Розмiр: <strong>{{size}}</strong></p>
        <p>Колiр: <strong>{{color}}</strong></p>
        <p>Базовий продукт: <strong>{{base_product}}</strong></p>
        <p>Тип дизайну: <strong>{{design_type}}</strong></p>
        <p>Коментар: <strong>{{comment}}</strong></p>

        <h5>Персональнi даннi</h5>
        <p>Телефон: <strong>{{phone_number}}</strong></p>
        <p>Email: <strong>{{user.email}}</strong></p>
        <p>Iм'я: <strong>{{user.username}}</strong></p>
    </div>
</body>
</html>